Projects/.vs/

Projects/BaseCore/*.user
Projects/BaseCore/.vs/
Projects/BaseCore/bin/
Projects/BaseCore/obj/

Projects/DataDefinition/*.user
Projects/DataDefinition/.vs/
Projects/DataDefinition/bin/
Projects/DataDefinition/obj/

Projects/DataExporter/*.user
Projects/DataExporter/.vs/
Projects/DataExporter/bin/
Projects/DataExporter/obj/

Projects/DataObject/*.user
Projects/DataObject/.vs/
Projects/DataObject/bin/
Projects/DataObject/obj/