Projects/.vs/

Projects/MonMooseCore/*.user
Projects/MonMooseCore/.vs/
Projects/MonMooseCore/bin/
Projects/MonMooseCore/obj/
Projects/MonMooseCore/**/*.meta

Projects/DataStructure/*.user
Projects/DataStructure/.vs/
Projects/DataStructure/bin/
Projects/DataStructure/obj/

Projects/DataObject/*.user
Projects/DataObject/.vs/
Projects/DataObject/bin/
Projects/DataObject/obj/

Projects/DataLoaderExporter/*.user
Projects/DataLoaderExporter/.vs/
Projects/DataLoaderExporter/bin/
Projects/DataLoaderExporter/obj/

Projects/DataObjectExporter/*.user
Projects/DataObjectExporter/.vs/
Projects/DataObjectExporter/bin/
Projects/DataObjectExporter/obj/

Projects/DataStructureExporter/*.user
Projects/DataStructureExporter/.vs/
Projects/DataStructureExporter/bin/
Projects/DataStructureExporter/obj/

Tools/CopyDllTool/Project/*.user
Tools/CopyDllTool/Project/.vs/
Tools/CopyDllTool/Project/CopyDllTool/bin/
Tools/CopyDllTool/Project/CopyDllTool/obj/