Projects/.vs/

Projects/DataDefinition/*.user
Projects/DataDefinition/.vs/
Projects/DataDefinition/bin/
Projects/DataDefinition/obj/

Projects/DataExporter/*.user
Projects/DataExporter/.vs/
Projects/DataExporter/bin/
Projects/DataExporter/obj/

Projects/DataObject/*.user
Projects/DataObject/.vs/
Projects/DataObject/bin/
Projects/DataObject/obj/

Projects/FileUtility/*.user
Projects/FileUtility/.vs/
Projects/FileUtility/bin/
Projects/FileUtility/obj/